 body, html  {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 100vh;
}
.nav-item a:hover {
color: aquamarine;
}

.container-fluid {
    background-color: #112D4E;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    z-index: 1000;
  }
  #firstt:hover{
    color: #112D4E;
      transition: 0.3 ease-in-out;
  transform: scale(1.1);
  letter-spacing: 2px;
  }
  .myname:hover{
    color: #41B0DC;
  transition: 0.3 ease-in-out;
  transform: scale(1.1);
  letter-spacing: 2px;
  }

  .myname{
    color: #3F72AF;
  }
  .lead{
    font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .skills {
    width: 100%;
    display: block;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 80px;
  }
.skills img {
    filter: drop-shadow(1px 1px 20px #112D4E);
    height: 200px;
}
.linkden {
    display: flex;
    justify-content: center;
}
.linkedinme svg {
    width: 42px;
    height: 30px;
     margin-bottom: 0;
   padding-bottom: 0;
  }
  .skl {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 480;
  font-style: normal;
  }
  .skills > h1 {
    margin-top: 50px;
  }
  .sectionabout{
    margin-top: 50px;
  }
  .sectioncontact {
    margin-top: 30px;
  }
  
  
@media (max-width:576px) {
    .skills {
        width: 100%;
        height: 100%;
      }
      .skills img {
        flex-wrap: wrap;
        height: 80px;
    }
    .sectioncontact {
        margin-top: 53px;
      }
      .skills{
        padding-top: 30px;
      }
    
}
#About h2:hover{
color: #21A5D9;
animation: shake 0.3s;
}
#Skills h1:hover{
  color: #21A5D9;
animation: shake 0.3s;
}
#Contact h2:hover{
  color: #21A5D9;
animation: shake 0.3s;
}
.locked{
  filter: grayscale(100%);
  transition: transform 0.2s ease-in-out;
  perspective: 500px;
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}
.locked:hover {
  animation: shake 0.3s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  25% { transform: translate(-1px, -2px) rotate(-1deg); }
  50% { transform: translate(-3px, 0px) rotate(1deg); }
  75% { transform: translate(3px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(1deg); }
}
/* animista */
.myname {
	-webkit-animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-11-5 23:51:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
/* animista  shadow drop myname */
.myname{
	-webkit-animation: text-shadow-drop-center 0.6s both;
	        animation: text-shadow-drop-center 0.6s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-11-5 23:56:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}


/* end here */

/* animista photo profile*/
.slide-in-br {
	-webkit-animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-11-6 0:6:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
            transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
            transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
/* animation From Uiverse.io by jeremyssocial */
@keyframes blinkCursor {
  70% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation:
    typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}
/* end here*/
.picame{
  height: 350px;
}
.picame:hover{
  transition: 0.3 ease-in-out;
  transform: scale(1.1);
  letter-spacing: 2px;
}
.uscontact{
  height: 150px;
}
.uscontact:hover{
    transform: scale(1.05);
  box-shadow: 0 0 1px rgba(0,255,255,0.5);
}
.lastpart{
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .locked {
    animation: none !important;
    transition: none !important;
  }
}
.sectioncontact {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.uno img:hover {
 transform: rotateY(15deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
.uno img {
   border-radius: 20px;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}
/*animation*/